<div class="card">
    <div class="profile-view">
        <h1 class="profile-view__username">Username: {{request.user.UserName}}</h1>
    </div>
    <div class="profile-view">
        <h1 class="profile-view__email">Email: {{request.user.Email}}</h1>
    </div>
    <div class="profile-view">
        <h1 class="profile-view__join-date">Join date: {{request.user.JoinDate}}</h1>
    </div>
    <div class="profile-view">
        <div class="profile-view__btn">
            <a href="{%url 'profile_edit'%}" >Edit profile</a>
        </div>
    </div>
</div>