<div class="profile-notifications">
    <div class="profile-notifications">
        <h1 class="profile-notifications">GamesKlondike updates</h1>
        <div class="profile-notifications__decision">
            <label class="profile-notifications__decision" for="updatesOne">Getting started, new features and latest trending game on GamesKlondike</label>
            <input class="profile-notifications__decision" id="updatesOne" type="checkbox" name="make-bed-1"/>
        </div>
        <div class="profile-notifications__decision">
            <label class="profile-notifications__decision" for="updatesTwo">News, promos and events for you</label>
            <input class="profile-notifications__decision" id="updates" type="checkbox" name="make-bed-1"/>
        </div>
    </div>
</div>