<div class="profile-edit">
    <form class="post__comment-form" action="" method="post">
        <label class="profile-edit__label" for="newComment">Old password:</label>
        <input type="text" name="oldPass" class="input-text" />
        <label class="profile-edit__label" for="newComment">New password:</label>
        <input type="text" name="newPass" class="input-text" />
        <label class="profile-edit__label" for="newComment">Repeat new password:</label>
        <input type="text" name="newPassConfirm" class="input-text" />
    </form>
    <div class="profile-view">
        <div class="profile-view__btn">
            <a href="" >Confirm</a>
        </div>
    </div>
</div>