{% extends 'layout.html' %} {% load static %} {% block lang %}ru{% endblock %} {% block title %}Home{% endblock %} {% block addictionsBefore %}
<link rel="stylesheet" href="{% static 'icons.css' %}">
<link rel="stylesheet" href="{% static 'main.css' %}"> {% endblock %} {% block header %}{%include 'header.html'%}{% endblock %} {% block main %}
<div class="main">

    {% if images %}

    <div class="carousel-wrapper">
        <div class="carousel">
            {% for img in images %}
            <div class="carousel__photo ">
                <img src="{{img.Image.url}}">
            </div> {%endfor%} {%if images|length > 1%}
            <div class="carousel__button--next"></div>
            <div class="carousel__button--prev"></div>{%endif%}
        </div>
    </div> {%endif%}

    <div class="post">
        <div class="post__title">{{title}}</div>
        <div class="post__text">{{text|linebreaks}} </div>

        <div class="post__release">
            <div class="post__release-title">Reliase:</div>
            <div class="post__release-date">Not released</div>
        </div>
        <div class="post__link">
            <div class="post__link-title">Links:</div>
            <div class="post__link-all">
                {% for link in links %}
                <a target="__blank" href="{{link.Link}}" class="post__link-link">
                    {%if link.Image %}
                    <div class="post__link-photo">
                        <img src="{{link.Image.url}}">
                    </div>{%else%}
                    {{link.Text}}
                    {%endif%}
                </a>{%endfor%}
            </div>
        </div>
        <div class="post__tags">
            {% for tag in tags %}
            <a href="{{tag.link}} " class="post__tag">{{tag.text}} </a>{%endfor%}
        </div>
        <div class="post__publisher">
            <div class="post__pub-title">Publisher</div>
            <a href="{{publisher.link}}" class="post__pub-user">{{publisher.user}}</a>
            <div class="post__pub-date">{{publisher.date}}</div>
        </div>
        <div class="post__likes">
            <form class="likes" action="" method="post">
                <i class="fa-light fa-thumbs-up"></i>
                <div class="count">0</div>
                <input type="submit" />
            </form>
            <form class="dislikes" action="" method="post">
                <i class="fa-light fa-thumbs-down"></i>
                <div class="count">0</div>
                <input type="submit" />
            </form>
        </div>

        <div class="post__title">Comments</div>

        <form class="post__comment-form" action="" method="post">
            <input type="text" name="newComment" class="input-text" />
            <input type="submit" name="" class="submit" />
            <div class="btn"><span>Send</span></div>
        </form>
        {% for comment in comments %}
        <div class="post__comment">
            <div class="post__comment-text">{{comment.text|linebreaks}}</div>
            <div class="post__comment-about">
                <div class="post__comment-date">{{comment.date}}</div>
                <a href="{{comments.0.link}}" class="post__comment-user">{{comment.user}}</a>
            </div>

            <div class="post__likes">
                <form class="likes" action="" method="post">
                    <i class="fa-light fa-thumbs-up"></i>
                    <div class="count">{{comment.likes}}</div>
                    <input type="submit" />
                </form>
                <form class="dislikes" action="" method="post">
                    <i class="fa-light fa-thumbs-down"></i>
                    <div class="count">{{comment.dislikes}}</div>
                    <input type="submit" />
                </form>
            </div>
        </div>{%endfor%}




    </div>
</div>



{% endblock %} {% block footer %}{%include 'footer.html'%}{% endblock %} {% block addictionsAfter %}
<script src="{%static 'js/header.js'%}"></script>

<script src="{%static 'js/carousel.js'%}"></script>
<script>
</script>
{% endblock %}