{% extends 'layout.html' %} {% load static %} {% block lang %}ru{% endblock %} {% block title %}Home{% endblock %} {%block addictionsBefore %} {% if request.user.is_authenticated %}
<meta http-equiv="refresh" content="0;URL={%url 'home'%}" /> {%endif%}
<link rel="stylesheet" href="{% static 'icons.css' %}">
<link rel="stylesheet" href="{% static 'main.css' %}"> {% endblock %} {% block header %}{% endblock %} {% block main %}
<div class="main">

    {% if request.user.is_authenticated is False%}
    <form action="" method="post" class="auth" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="auth__container">
            <div class="auth__title-main">Create account</div>

            {%if errors%}
            <div class="auth__error">{{errors}}</div>{%endif%}

            <div class="auth__title">Email</div>
            {{ form.Email }}
            <div class="auth__title">Fullname</div>
            {{ form.UserName }}
            <div class="auth__title">Password</div>
            {{ form.Password }}
            <div class="auth__title">Password confirm</div>
            <div class="auth__title">Avatar</div>
            {{ form.Avatar }}
            <div class="auth__btn">Login</div>
            <input class="auth__submit" type="submit" value="">
        </div>
    </form>
</div>

<script>
    document.querySelector('.auth__btn').addEventListener('click', () => {
        document.querySelector('.auth__submit').click();
    });
</script>

{%else%} Выйди отсюда <img src="{%static 'img/profile-no-user.jpg'%}" alt="">{%endif%} {% endblock %} {% block footer %}{% endblock %} {% block addictionsAfter %} {% endblock %}