{% load static %}

<div class="views-switch-list">
    <div class="row-btn"><i class="fa-light fa-list"></i></div>
    <div class="collumn-btn active"><i class="fa-light fa-table-cells"></i></div>
</div>
<div class="cards-container _load-more">
    {%include 'card.html'%}
</div>
<div class="load-more-cards">
    <div class="load-more-cards__btn">Load more</div>
</div>

<div class="cookie-message">
    <div class="cookie-message__text">This site uses cookies.</div>
    <div class="cookie-message__btns">
        <div class="btn yes">I agree</div>
        <div class="btn no">I do not agree</div>
    </div>
</div>

<script>
    // change views switch list 
    let agreeCookieBool = false;
    document.querySelector('.row-btn').addEventListener('click', (event) => {
        document.querySelector('.collumn-btn').classList.remove('active');
        document.querySelector('.row-btn').classList.add('active');
        document.querySelector('.cards-container').classList.add('row');
        if (agreeCookieBool)
            setCookie("viewsSwitchList", "row", 30);
    });
    document.querySelector('.collumn-btn').addEventListener('click', (event) => {
        document.querySelector('.row-btn').classList.remove('active');
        document.querySelector('.collumn-btn').classList.add('active');
        document.querySelector('.cards-container').classList.remove('row');
        if (agreeCookieBool)
            setCookie("viewsSwitchList", "column", 30);
    });

    // Set cokie row/column
    function setCookie(cname, cvalue, exdays) {
        const d = new Date();
        d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
        let expires = "expires=" + d.toUTCString();
        document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
    }

    function getCookie(cname) {
        let name = cname + "=";
        let decodedCookie = decodeURIComponent(document.cookie);
        let ca = decodedCookie.split(';');
        for (let i = 0; i < ca.length; i++) {
            let c = ca[i];
            while (c.charAt(0) == ' ') {
                c = c.substring(1);
            }
            if (c.indexOf(name) == 0) {
                return c.substring(name.length, c.length);
            }
        }
        return "";
    }

    function agreeCookie() {
        if (getCookie("viewsSwitchList") == "row") {
            document.querySelector('.collumn-btn').classList.remove('active');
            document.querySelector('.row-btn').classList.add('active');
            document.querySelector('.cards-container').classList.add('row');

        } else {
            document.querySelector('.row-btn').classList.remove('active');
            document.querySelector('.collumn-btn').classList.add('active');
            document.querySelector('.cards-container').classList.remove('row');
            viewsSwitchList = "column";
            setCookie("viewsSwitchList", "column", 30);
        }
        setCookie("agreeCookie", "agree", 30);
    }
    if (getCookie("agreeCookie") == "agree") {
        agreeCookieBool = true;
        agreeCookie();
        document.querySelector('.cookie-message').classList.add('none');
    }

    document.querySelector('.btn.yes').addEventListener('click', () => {
        agreeCookie();
        document.querySelector('.cookie-message').classList.add('none');
    });
    document.querySelector('.btn.no').addEventListener('click', () => {
        document.querySelector('.cookie-message').classList.add('none');
    });
</script>



<script>
    // Lazy images loading
    const loadMoreBlock = document.querySelector('._load-more');

    let cardCounter = 1;

    lazyScroll();
    window.addEventListener('scroll', lazyScroll);
    window.addEventListener('resize', lazyScroll);

    function lazyScroll() {
        if (document.querySelectorAll('img[data-src]').length > 0) {
            lazyScrollCheckImg();
        }
        if (document.querySelectorAll('source[data-srcset]').length > 0) {
            lazyScrollCheckSource();
        }
    }

    function lazyScrollCheckImg() {
        let lazyImages = document.querySelectorAll('img[data-src]');

        for (let i = 0; i < lazyImages.length; i++) {
            let itemHeight = lazyImages[i].getBoundingClientRect().top + pageYOffset;
            if (pageYOffset + window.innerHeight > itemHeight && lazyImages[i].dataset.src) {
                console.log([i]);
                lazyImages[i].src = lazyImages[i].dataset.src;
                lazyImages[i].removeAttribute('data-src');
            }
        }
    }

    function lazyScrollCheckSource() {
        let lazyImages = document.querySelectorAll('source[data-srcset]');

        for (let i = 0; i < lazyImages.length; i++) {
            let itemHeight = lazyImages[i].getBoundingClientRect().top + pageYOffset;
            if (pageYOffset + window.innerHeight > itemHeight && lazyImages[i].dataset.srcset) {
                console.log([i]);
                lazyImages[i].src = lazyImages[i].dataset.srcset;
                lazyImages[i].removeAttribute('data-srcset');
            }
        }
    }

    document.querySelector('.load-more-cards__btn').addEventListener('click', () => {
        if (!loadMoreBlock.classList.contains('_loading')) {
            // alert();
            loadMore();
        }
    });


    function loadMore() {
        const loadMoreBlockPos = loadMoreBlock.getBoundingClientRect().top + pageYOffset;
        const loadMoreBlockHeight = loadMoreBlock.offsetHeight;

        if (pageYOffset > (loadMoreBlockPos + loadMoreBlockHeight) - window.innerHeight) {
            getContent();
        }
    }

    async function getContent() {
        if (!document.querySelector('._loading-icon')) {
            loadMoreBlock.insertAdjacentHTML(
                'beforeend',
                `<div class="_loading-icon">LOADING</div>`
            );
        }
        loadMoreBlock.classList.add('_loading');

        let response = await fetch(
            '{%url "more_cards"%}', {
                method: 'GET',
            });

        if (response.ok) {
            cardCounter++;
            let result = await response.text();
            loadMoreBlock.insertAdjacentHTML('beforeend', result);
            loadMoreBlock.classList.remove('_loading');
            if (document.querySelector('._loading-icon')) {
                document.querySelector('._loading-icon').remove();
            }
            lazyScroll();
        } else {
            alert('Error');
        }
    }
</script>