/* footer */

.footer {
    width: 100%;
    min-height: 5em;
    background-color: $dark2;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    * {
        color: $text;
        font-size: 1.05em;
    }
    &__row,
    &__main-column,
    &__column,
    &__copyright {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        padding: .5em;
    }
    &__row,
    &__copyright,
    &__main-column {
        flex-direction: row;
        justify-content: space-around;
    }
    &__copyright {
        justify-content: flex-end;
    }
    &__logo {
        width: 5em;
        height: 5em;
        img {
            max-width: 100%;
        }
    }
    &__column {
        align-items: flex-start;
    }
    &__link,
    &__text,
    &__title {
        padding: 0.3em;
        justify-content: flex-start;
        margin-bottom: 0.3em;
    }
    &__title {
        font-size: 1.3em;
        font-weight: bold;
    }
    &__link {
        transition: all 0.3s ease 0s;
        text-decoration: underline;
        i {
            transition: all 0.3s ease 0s;
            text-decoration: underline;
        }
        &:hover {
            color: $red;
            i {
                color: $red;
                text-decoration: none;
            }
        }
    }
}