/* header */

.header {
    position: fixed;
    width: 100%;
    height: 3em;
    top: 0;
    left: 0;
    z-index: 50;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: $dark2;
    color: $text;
    overflow: hidden;
    font-size: 1.5em;
    .column {
        display: flex;
        align-items: center;
        margin: 1em;
        transition: all 0.3s ease 0s;
        &__item {
            margin: 0 1em;
            transition: all 0.6s ease 0s;
            cursor: pointer;
            &.burger,
            &.user,
            &.bell,
            &.small-search {
                padding: .5em;
                border-radius: 50%;
                overflow: hidden;
                margin-left: -.5em;
                &:active {
                    background-color: $light4;
                    color: $red;
                    .column__burger {
                        span {
                            background-color: $red;
                        }
                        &:before {
                            background-color: $red;
                        }
                        &::after {
                            background-color: $red;
                        }
                    }
                }
            }
            &.user {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 2em;
                height: 2em;
                margin-right: -.1em;
            }
        }
        &__bell {
            position: fixed;
            display: flex;
            flex-direction: column;
            top: 2.8em;
            right: 3em;
            background: $dark2;
            height: 20em;
            width: 20em;
            overflow: auto;
            @media (max-width: 767px) {
                right: 1em;
            }
            .title {
                font-size: 1.1em;
                padding: 0.3em;
                transition: all 0.3s ease 0s;
                background: $dark2;
                filter: contrast(80%);
                &:hover {
                    color: $red;
                }
            }
            .allert {
                display: flex;
                flex-direction: row;
                padding: .3em;
                width: 100%;
                border-color: $text;
                color: $text;
                cursor: pointer;
                transition: all 0.3s ease 0s;
                &:hover {
                    border-bottom: .1em solid;
                    background-color: $dark3;
                    color: $red;
                }
                &:active {
                    filter: contrast(110%);
                }
                &__img {
                    width: 3em;
                    height: 3em;
                    border-radius: 50%;
                }
                &__content {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    font-size: 0.8em;
                    padding: 0.3em;
                    height: 100%;
                }
                &__text {
                    margin-bottom: .3em;
                    max-width: 15em;
                    word-wrap: break-word;
                    font-size: 1.2em;
                }
                &__time {
                    font-size: 1em;
                }
            }
        }
        &__search-form {
            display: flex;
            justify-content: flex-end;
            background-color: $dark3;
            border-radius: .1em;
            margin: 0;
            transition: all 0.3s ease 0s;
            input {
                display: none;
                margin: 0 .3em;
                outline: none;
                &:-webkit-autofill {
                    -webkit-box-shadow: inset 0 0 0 50px $dark1 !important;
                    /* Цвет фона */
                    -webkit-text-fill-color: $text !important;
                    /* цвет текста */
                    color: $text!important;
                    /* цвет текста */
                }
            }
            input[type="text"] {
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 1em;
                background: none;
                background-color: $dark3;
                font-size: 1.4em;
                color: $text;
                margin: .1em;
                width: 100%;
                outline: none;
                &:-webkit-autofill {
                    -webkit-box-shadow: inset 0 0 0 50px $dark3 !important;
                    /* Цвет фона */
                    -webkit-text-fill-color: $text !important;
                    /* цвет текста */
                    color: $text!important;
                    /* цвет текста */
                }
            }
            i {
                display: flex;
                justify-content: center;
                align-items: center;
                transition: all 0.3s ease 0s;
                width: 2em;
                cursor: pointer;
            }
            i:hover {
                background-color: $dark2;
                color: $red;
            }
        }
        &__burger {
            display: block;
            position: relative;
            height: 1em;
            width: 1.3em;
            position: relative;
            z-index: 3;
            span {
                position: absolute;
                background-color: $light1;
                left: 0;
                width: 100%;
                height: 3px;
                top: 9px;
                transition: all 0.3s ease 0s;
            }
            &:before {
                content: "";
                background-color: $light1;
                position: absolute;
                width: 100%;
                height: 3px;
                left: 0;
                transition: all 0.3s ease 0s;
                top: 1px;
            }
            &:after {
                content: "";
                background-color: $light1;
                position: absolute;
                width: 100%;
                height: 3px;
                left: 0;
                transition: all 0.3s ease 0s;
                bottom: 1px;
            }
        }
        &__burger.active {
            span {
                transform: scale(0);
            }
            &:before {
                transform: rotate(45deg);
                top: 9px;
            }
            &:after {
                transform: rotate(-45deg);
                bottom: 9px;
            }
        }
        &__logo {
            display: block;
            width: 2em;
            height: 2em;
            overflow: hidden;
            margin-left: -1.5em;
            &:hover {
                animation-play-state: paused;
            }
            img {
                max-width: 100%;
            }
        }
        &__user {
            position: fixed;
            display: flex;
            flex-direction: column;
            top: 2.8em;
            right: 1em;
            background: $dark2;
            height: 20em;
            width: 20em;
            overflow: auto;
            .title {
                display: flex;
                width: 100%;
                justify-content: space-between;
                padding: .3em 2em;
                min-height: 3em;
                transition: all 0.3s ease 0s;
                img {
                    width: 2em;
                    height: 2em;
                    border-radius: 50%;
                }
                .username {
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 1.2em;
                    color: $red;
                }
                &:hover {
                    background-color: $dark3;
                }
            }
            .row {
                width: 100%;
                display: flex;
                flex-direction: row;
                padding: 1em;
                .text,
                i {
                    transition: all 0.3s ease 0s;
                    color: $text;
                }
                i {
                    margin-right: 1em;
                }
                &:hover {
                    .text,
                    i {
                        transform: scale(1.1);
                        color: $red;
                    }
                }
            }
            .line::after {
                content: '';
                background-color: $text;
                display: block;
                width: 100%;
                height: 1px !important;
            }
        }
    }
    .column__item.small-search {
        display: none;
    }
    @media (max-width: 767px) {
        .column-none {
            display: none;
        }
        .column-ser,
        .column__search-form {
            width: 100%;
        }
        .column__item.small-search {
            display: flex;
            animation-name: show;
            animation-duration: .3s;
            animation-timing-function: ease;
        }
        @keyframes show {
            0% {
                opacity: 0;
            }
            100% {
                opacity: 1;
            }
        }
    }
    .menu {
        position: fixed;
        z-index: 10;
        width: 15em;
        height: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        top: 3em;
        left: 0;
        background: $dark3;
        overflow: auto;
        padding-top: 1em;
        transition: all 0.3s ease 0s;
        overflow: auto;
        .row {
            width: 100%;
            display: flex;
            flex-direction: row;
            padding: 1em;
            transition: all 0.3s ease 0s;
            .text,
            i {
                transition: all 0.3s ease 0s;
                color: $text;
            }
            i {
                margin-right: 1em;
            }
            &::after {
                content: '';
                position: absolute;
                margin-top: 1.2em;
                background-color: $text;
                display: block;
                width: 100%;
                height: 1px !important;
                opacity: 0;
                transition: all 0.3s ease 0s;
            }
            &:hover {
                .text,
                i {
                    transform: scale(1.1);
                    color: $red;
                }
                &::after {
                    opacity: 1;
                }
            }
        }
        .line {
            display: block;
            width: 100%;
            height: 1px !important;
            &::after {
                content: '';
                background-color: $text;
                display: block;
                width: 100%;
                height: 1px !important;
            }
        }
        &__cross {
            display: none;
            position: absolute;
            right: 1em;
            top: .5em;
            font-size: 2em;
            transition: all 0.3s ease 0s;
            cursor: pointer;
            &:hover {
                color: $red;
            }
            &:active {
                filter: contrast(1000%);
                transform: scale(.9);
            }
        }
        &.hide {
            transform: translate(-100vw, 0px);
        }
        @media (max-width: 767px) {
            & {
                width: 100%;
                height: 100%;
                top: 0;
            }
            &__cross {
                display: block;
                top: .5em;
            }
            .menu__title {
                font-size: 2em;
            }
            .menu__link {
                min-width: 10em;
            }
        }
        @media (max-width: 500px) {
            & {
                font-size: 1em;
            }
            .menu__link {
                min-width: 5em;
            }
        }
    }
    .window {
        position: fixed;
        display: block !important;
        top: 3em;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 20;
        background-color: rgba(0, 0, 0, 0.15);
    }
    .hidden {
        visibility: hidden !important;
    }
    .none {
        display: none !important;
    }
}