/* main content */

.main {
    flex: 1 1 auto;
    width: 100%;
    padding: 100px 0px 0px 0px;
    color: #abb2bf;
    background: #1e2227;
    min-width: 100% !important;
    .views-switch-list {
        color: $text;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        font-size: 2em;
        padding: 1em;
        .row-btn,
        .collumn-btn {
            margin: 0.5em;
            cursor: pointer;
            border-radius: 50%;
            transition: all 0.3s ease 0s;
            &:hover {
                color: $red;
            }
            &.active {
                color: $redLight;
                filter: brightness(50%);
                &:hover {
                    color: $red;
                    filter: brightness(100%);
                }
            }
        }
        @media (max-width: 767px) {
            & {
                display: none;
            }
        }
    }
    .cards-container {
        width: 100%;
        display: flex;
        font-display: row;
        flex-wrap: wrap;
        justify-content: center;
        .card {
            display: flex;
            margin: 1em;
            flex-direction: column;
            overflow: hidden;
            width: 30%;
            background: $dark2;
            filter: brightness(80%);
            transition: all 0.6s ease 0s;
            border-radius: 0.1em;
            &:hover {
                filter: brightness(100%);
            }
            &__img {
                width: 100%;
                display: flex;
                justify-items: center;
                justify-content: flex-end;
                flex-direction: column;
                margin-bottom: 1em;
                min-height: 10em;
                background: url("/static/img/spiner.gif") center / 64px no-repeat;
                &::after {
                    content: "";
                    width: 100%;
                    background: $text;
                    height: 0.2em;
                }
                img {
                    max-width: 100%;
                }
            }
            &__content {
                width: 100%;
                padding: 0.5em;
                font-size: 1.5em;
            }
            &__title,
            &__text,
            &__date,
            &__tags {
                display: block;
                word-wrap: break-word;
                color: $text;
                margin-bottom: 1em;
                width: 100%;
            }
            &__date {
                text-decoration: underline;
            }
            &__title,
            &__tag {
                color: $redLight;
                transition: all 0.6s ease 0s;
                &:hover {
                    color: $red;
                    filter: contrast(300%);
                }
            }
            &__tags {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
            }
            &__tag {
                margin: 0.3em;
                display: block;
                &::before {
                    content: "#";
                }
            }
            &__line {
                display: flex;
                justify-content: center;
                justify-items: center;
                flex-direction: column;
                margin-bottom: 1em;
                &::after {
                    content: "";
                    width: 100%;
                    background: $text;
                    height: 0.1em;
                }
                &.none {
                    &::after {
                        display: none;
                    }
                }
            }
            &__date {
                display: flex;
                justify-content: right;
                text-decoration: underline;
            }
            @media (max-width: 1000px) {
                & {
                    width: 45%;
                }
            }
            @media (max-width: 767px) {
                & {
                    width: 90%;
                }
            }
        }
        @media (min-width: 767px) {
            &.row {
                .card {
                    width: 100%;
                    flex-direction: row;
                    &__img {
                        justify-content: center;
                        width: 50%;
                        height: 100%;
                        justify-items: center;
                        &::after {
                            display: none;
                        }
                    }
                    &__content {
                        width: 50%;
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                    }
                }
            }
        }
    }
    .load-more-cards {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        &.none {
            display: none;
        }
        &__btn {
            user-select: none;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0.5em;
            width: 10em;
            background-color: $dark2;
            border-radius: 0.3em;
            margin: 0.3em;
            font-size: 2em;
            transition: all 0.3s ease 0s;
            cursor: pointer;
            &:hover {
                transform: scale(1.1);
                color: $red;
            }
            &:active {
                transform: scale(1.05);
                color: $redLight;
            }
        }
    }
    .cookie-message {
        width: 100%;
        height: 10em;
        position: fixed;
        left: 0;
        bottom: -20em;
        background: $dark2;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-size: 4em;
        &.none {
            display: none !important;
        }
        &__text {
            font-size: 2em;
        }
        &__btns {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            .btn {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 0.5em;
                width: 10em;
                background-color: $dark3;
                border-radius: 0.3em;
                margin: 0.3em;
                transition: all 0.3s ease 0s;
                cursor: pointer;
                &:hover {
                    transform: scale(1.1);
                    color: $red;
                }
                &:active {
                    transform: scale(1.05);
                    color: $redLight;
                }
            }
        }
        @media (max-width: 1200px) {
            & {
                font-size: 3em;
            }
        }
        @media (max-width: 1000px) {
            & {
                font-size: 2em;
            }
        }
        @media (max-width: 767px) {
            & {
                font-size: 1em;
            }
        }
        animation-name: showCookie;
        animation-timing-function: ease-out;
        animation-duration: 2s;
        animation-delay: 0.3s;
        animation-fill-mode: forwards;
        @keyframes showCookie {
            0% {
                bottom: -20em;
            }
            100% {
                bottom: 0;
            }
        }
    }
    .post {
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        * {
            color: $text;
        }
        &__title,
        &__text,
        &__publisher,
        &__likes,
        &__release {
            width: 90%;
            font-size: 1.5em;
        }
        &__text {
            p {
                margin-bottom: 1em;
            }
        }
        &__release {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-end;
            margin-bottom: 1em;
            &-title,
            &-date {
                text-decoration: underline;
            }
            &-title {
                font-size: 2em;
                transition: all 0.3s ease 0s;
                color: $redLight;
                &:hover {
                    color: $red;
                }
            }
        }
        &__link {
            display: flex;
            flex-direction: column;
            font-size: 2em;
            width: 90%;
            margin-bottom: 1em;
            &-title,
            &-link {
                transition: all 0.3s ease 0s;
                margin-right: 0.7em;
                padding: 0.1em;
                padding-left: 0;
                &:hover {
                    color: $red;
                }
            }
            &-photo {
                width: 1em;
                img {
                    max-width: 100%;
                }
            }
            &-all {
                display: flex;
                flex-wrap: wrap;
            }
            &-title {
                color: $redLight;
                font-size: 1.5em;
            }
        }
        &__publisher {
            flex-direction: column;
        }
        &__pub-title {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            transition: all 0.3s ease 0s;
            &::after {
                content: "";
                width: 100%;
                background-color: $text;
                height: 0.05em;
                margin-top: 0.3em;
                transition: all 0.3s ease 0s;
                margin-bottom: 0.5em;
            }
            &:hover {
                color: $redLight;
                &::after {
                    background-color: $redLight;
                }
            }
            &:active {
                color: $red;
                &::after {
                    background-color: $red;
                }
            }
        }
        &__pub-title,
        &__pub-date,
        &__pub-user,
        &__likes {
            margin-bottom: 0.3em;
            display: flex;
            justify-content: flex-end;
        }
        &__pub-date {
            text-decoration: underline;
        }
        &__tags {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            flex-wrap: wrap;
            width: 90%;
            margin-bottom: 1em;
        }
        &__tag {
            color: $redLight;
            transition: all 0.6s ease 0s;
            padding: 0.5em;
            padding-left: 0;
            display: block;
            font-size: 1.2em;
            &::before {
                content: "#";
            }
            &:hover {
                color: $red;
                filter: contrast(300%);
            }
        }
        &__likes {
            justify-content: flex-start;
            align-items: center;
            .likes,
            .dislikes {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 0.7em;
                input {
                    display: none;
                }
                i {
                    margin-right: 0.3em;
                }
                .count,
                i {
                    transition: all 0.3s ease 0s;
                    cursor: pointer;
                    user-select: none;
                }
                transition: all 0.3s ease 0s;
                &:hover {
                    .count,
                    i {
                        color: $red;
                        filter: contrast(50%);
                    }
                }
                &:active {
                    .count,
                    i {
                        filter: contrast(100%);
                        transform: scale(0.9);
                    }
                }
                &.active {
                    .count,
                    i {
                        color: $redLight;
                    }
                }
            }
        }
        &__title {
            font-size: 3em;
            font-weight: bold;
            margin-bottom: 0.7em;
            margin-top: 2em;
            display: flex;
            flex-direction: column;
            transition: all 0.3s ease 0s;
            &::after {
                content: "";
                width: 100%;
                background-color: $text;
                height: 0.05em;
                margin-top: 0.3em;
                transition: all 0.3s ease 0s;
            }
            &:hover {
                color: $redLight;
                &::after {
                    background-color: $redLight;
                }
            }
            &:active {
                color: $red;
                &::after {
                    background-color: $red;
                }
            }
        }
        &__text {
            margin-bottom: 1em;
        }
        &__comment-form {
            width: 90%;
            margin-bottom: 1em;
            * {
                font-size: 1.3em;
            }
            .input-text {
                background: none;
                background-color: $dark2;
                width: 100%;
                font-size: 2em;
                margin-bottom: 0.3em;
                padding: 0.5em;
                border-radius: 0.1em;
                transition: all 0.3s ease 0s;
                &:focus {
                    color: $light1;
                }
            }
            .submit {
                display: none;
            }
            .btn {
                width: 100%;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                span {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 0.5em;
                    background-color: $dark1;
                    transition: all 0.3s ease 0s;
                    user-select: none;
                    border-radius: 0.1em;
                    cursor: pointer;
                    &:hover {
                        filter: contrast(90%);
                        color: $redLight;
                    }
                    &:active {
                        filter: contrast(70%);
                        color: $red;
                    }
                }
            }
        }
        &__comment {
            width: 90%;
            background-color: $dark2;
            display: flex;
            flex-direction: column;
            margin-bottom: 1em;
            padding: 0.3em;
            &-text,
            &-about {
                padding: 0.3em;
                font-size: 1.8em;
            }
            &-date {
                font-size: 0.7em;
                text-decoration: underline;
            }
            &-user {
                transition: all 0.3s ease 0s;
                cursor: pointer;
                &:hover {
                    filter: contrast(90%);
                    color: $redLight;
                }
                &:active {
                    filter: contrast(70%);
                    color: $red;
                }
            }
            &-about {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
            }
        }
    }
    .auth {
        font-size: 2em;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &__container {
            width: 50%;
        }
        &__input,
        &__title {
            width: 100%;
            padding: 0.5em;
            color: $text;
            transition: all 0.3s ease 0s;
        }
        &__title {
            padding-left: 0;
            font-weight: bold;
            &:hover {
                color: $red;
            }
            &-main {
                font-size: 1.5em;
                margin-bottom: 0.5em;
                display: flex;
                flex-direction: column;
                transition: all 0.3s ease 0s;
                &::after {
                    content: "";
                    height: 0.05em;
                    width: 100%;
                    background-color: $text;
                    transition: all 0.3s ease 0s;
                }
                &:hover {
                    color: $red;
                    &::after {
                        background-color: $red;
                    }
                }
            }
        }
        &__input {
            background: none;
            background-color: $dark2;
            font-size: 1em;
            margin-bottom: 0.5em;
            border-radius: 0.1em;
            &:focus {
                color: $light1;
            }
        }
        &__btn {
            background-color: $dark2;
            display: inline-block;
            padding: 0.5em;
            font-size: 1em;
            border-radius: 0.1em;
            transition: all 0.3s ease 0s;
            cursor: pointer;
            margin-bottom: 1em;
            &:hover {
                filter: contrast(80%);
                color: $red;
            }
            &:active {
                transform: scale(0.9);
            }
        }
        &__submit {
            display: none;
        }
        &__error {
            background-color: $redLight;
            color: $dark2;
            filter: brightness(80%);
            display: inline-block;
            padding: 0.5em;
            border-radius: 0.1em;
            &.none {
                display: none;
            }
        }
        &__links {
            display: flex;
            a {
                color: $text;
                margin-right: 1em;
                border-radius: 0.1em;
                transition: all 0.3s ease 0s;
                font-size: 0.8em;
                cursor: pointer;
                margin-bottom: 1em;
                &:hover {
                    filter: contrast(80%);
                    color: $red;
                }
                &:active {
                    transform: scale(0.9);
                }
            }
        }
    }
    .profile {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 10em;
        flex-wrap: wrap;
        &__row {
            width: 100%;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: stretch;
            padding: 1em 0;
            &.line::after {
                content: "";
                width: 100%;
                background-color: $dark2;
                height: 0.1em;
                transition: all 1s ease 0s;
            }
            &::before {
                content: "";
                width: 1em;
                height: 6em;
                background-color: $redLight;
                filter: contrast(60%);
                position: absolute;
                transform: translate(0, -2em);
                transition: all 1s ease 0s;
                opacity: 0;
                border-radius: 0.3em 0 0 0;
            }
            &.avatar::before {
                display: none;
            }
            &.active::before {
                opacity: 1;
            }
            &:hover {
                .profile__link {
                    color: $redLight;
                    filter: contrast(60%);
                }
                &.line::after {
                    background-color: $redLight;
                    filter: contrast(60%);
                }
                &::before {
                    opacity: 1;
                }
            }
            &:active {
                .profile__link {
                    color: $red;
                    filter: contrast(100%);
                }
                &.line::after {
                    background-color: $red;
                    filter: contrast(100%);
                }
                &::before {
                    background-color: $red;
                    filter: contrast(100%);
                    opacity: 1;
                }
            }
        }
        &__column {
            padding: 1em;
            width: 70%;
            background-color: $dark1;
            &.asside {
                width: 20%;
                background-color: $dark3;
            }
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: stretch;
        }
        &__avatar {
            width: 100%;
            padding: 5em;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            img {
                max-width: 100%;
                border-radius: 50%;
                margin-right: 5em;
                border: 2px $text solid;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: auto;
            }
        }
        &__username,
        &__nickname {
            color: $text;
            font-size: 3em;
            transition: all 0.3s ease 0s;
        }
        &__nickname {
            font-size: 2.5em;
            text-transform: lowercase;
            &::before {
                content: "@";
            }
        }
        &__link {
            width: 100%;
            padding: 0.5em 0;
            padding-left: 1em;
            font-size: 2em;
            color: $text;
            transition: all 1s ease 0s;
        }
        &__title {
            font-size: 4em;
            font-weight: bold;
        }
        &__container {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        @media (max-width: 767px) {
        }
    }
    .profile-view {
        width: 100%;
        display: flex;
        flex-direction: column;
        &__btn {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            a {
                margin-top: 30px;
                color: $text;
                user-select: none;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 0.5em;
                width: 10em;
                background-color: $dark2;
                border-radius: 0.3em;
                font-size: 2em;
                transition: all 0.3s ease 0s;
                cursor: pointer;
                &:hover {
                    transform: scale(1.1);
                    color: $red;
                }
                &:active {
                    transform: scale(1.05);
                    color: $redLight;
                }
            }
        }
        &__username {
            margin-top: 20px;
            font-size: 3em;
        }
        &__email {
            margin-top: 20px;
            font-size: 3em;
        }
        &__join-date {
            margin-top: 20px;
            font-size: 3em;
        }
    }
    .profile-edit {
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        &__form {
            width: 90%;
            margin-bottom: 1em;
            * {
                font-size: 1.3em;
            }
            &__input-email {
                width: 70%;
                background: none;
                background-color: $dark2;
                font-size: 2em;
                margin-bottom: 0.3em;
                padding: 0.5em;
                border-radius: 0.1em;
                transition: all 0.3s ease 0s;
                &:focus {
                    color: $light1;
                }
            }
        }
        label {
            font-size: 3em;
        }
    }
}
