<footer class="footer">
    <div class="footer__row">
        <div class="footer__main-column">
            <div class="footer__column">
                {% load static %}
                <div class="footer__logo">
                    <img src="{%static 'img/logo.png'%}" alt="">
                </div>
                <div class="footer__title">Go check out cool games</div>
                <div class="footer__text">Games Klondike is an online archive of various games that collects all the video games ever made.</div>
                <div class="footer__text">
                    <i class="fa-light fa-desktop"></i> PC games,
                    <i class="fa-light fa-gamepad-modern"></i> Console games,
                    <i class="fa-light fa-game-console-handheld"></i> Exotic games
                </div>
            </div>
        </div>
        <div class="footer__main-column">
            <div class="footer__column">
                <div class="footer__title">Help</div>
                <a href="/" class="footer__link">FAQs</a>
                <a href="/" class="footer__link"><i class="fa-light fa-circle-question"></i>Support</a>
                <a href="/" class="footer__link">Contact Us</a>
            </div>
            <div class="footer__column">
                <div class="footer__title">Community</div>
                <a target="__blank" href="/" class="footer__link"><i class="fa-brands fa-github"></i> GitHub</a>
                <a target="__blank" href="/" class="footer__link"><i class="fa-brands fa-facebook"></i> Facebook</a>
                <a target="__blank" href="/" class="footer__link"><i class="fa-brands fa-twitter"></i> Twitter</a>
            </div>
        </div>
    </div>
    <div class="footer__row">
        <div class="footer__copyright">
            <a href="/" class="footer__link">Terms of Service</a>
            <a href="/" class="footer__link">Privacy Policy</a>
            <div class="footer__text">© GamesKlondike, Inc.</div>
        </div>
    </div>
</footer>