<header class="header">
    <div class="column">
        <div class="column__item burger">
            <div class="column__burger">
                <span></span>
            </div>
        </div>
        {% load static %}
        <div class="column__item ">
            <a href="/" class="column__logo">
                <img src="{%static 'img/logo.png'%}" alt="">
            </a>
        </div>
    </div>
    <div class="column column-ser column-none">
        <form class="column__search-form" action="" method="get">
            <input class="column__search-input" type="text" name="search" id="">
            <input type="submit" value="" class="column__submit">
            <i class="fa-light fa-xmark hidden column__search-cross"></i>
            <i class="fa-light fa-magnifying-glass column__search-search"></i>
        </form>
    </div>
    <div class="column">
        <div class="column__item small-search"> <i class="fa-light fa-magnifying-glass "></i>
        </div>
        <div class="column__item bell"><i class="fa-light fa-bell"></i></div>
        <div class="column__bell none">
            <div class="title">Alerts</div>
            {% for allert in allerts %}
            <a href="/" class="allert">
                <img src="{%static 'img/no-image.png'%}" alt="" class="allert__img">
                <div class="allert__content">
                    <div class="allert__text">{{allert.text}}</div>
                    <div class="allert__time">{{allert.time}}</div>
                </div>
            </a>
            {% endfor %}

        </div>
        <div class="column__item user"><i class="fa-light fa-user"></i></div>

        <div class="column__user none">
            {% if request.user.is_authenticated %}
            <a href="/" class="title">
                <img src="{%static 'img/no-image.png'%}" alt="">
                <div class="username">Username</div>
            </a>
            <div class="line"></div>
            <a href="/" class="row">
                <i class="fa-regular fa-link"></i>
                <div class="text">Links</div>
            </a>
            <a href="/" class="row">
                <i class="fa-solid fa-arrow-right-from-bracket"></i>
                <div class="text">Logout</div>
            </a>
            {% else %}

            <a href="/" class="row">
                <i class="fa-light fa-user-check"></i>
                <div class="text">Login</div>
            </a>
            <a href="/" class="row">
                <i class="fa-light fa-user-plus"></i>
                <div class="text">Register</div>
            </a>

            {%endif%}
            <div class="line"></div>
            <a href="/" class="row">
                <i class="fa-solid fa-gear"></i>
                <div class="text">Settings</div>
            </a>
            <a href="/" class="row">
                <i class="fa-solid fa-moon"></i>
                <div class="text">Theme</div>
            </a>
            <a href="/" class="row">
                <i class="fa-solid fa-earth-europa"></i>
                <div class="text">Language</div>
            </a>
            <a href="/" class="row">
                <i class="fa-light fa-circle-question"></i>
                <div class="text">Support</div>
            </a>

        </div>
    </div>
    <div class="menu hide none">
        <a href="/" class="row">
            <i class="fa-solid fa-arrow-trend-up"></i>
            <div class="text">Trends</div>
        </a>
        <a href="/" class="row">
            <i class="fa-solid fa-fire"></i>
            <div class="text">Popular</div>
        </a>
        <div class="line"></div>
        <a href="/" class="row">
            <i class="fa-light fa-block-quote"></i>
            <div class="text">Subscriptions</div>
        </a>
        <a href="/" class="row">
            <i class="fa-light fa-clock-rotate-left"></i>
            <div class="text">History</div>
        </a>
        <a href="/" class="row">
            <i class="fa-light fa-bookmark"></i>
            <div class="text">Bookmarks</div>
        </a>
        <a href="/" class="row">
            <i class="fa-light fa-circle-question"></i>
            <div class="text">Support</div>
        </a>

        <i class="fa-light fa-xmark menu__cross"></i>
    </div>

    <div class="window none"></div>
</header>