<header class="header">
    <div class="column">
        <div class="column__item burger">
            <div class="column__burger">
                <span></span>
            </div>
        </div>
        {% load static %}
        <div class="column__item ">
            <a href="/" class="column__logo">
                <img src="{%static 'img/logo.png'%}" alt="">
            </a>
        </div>
    </div>
    <div class="column column-ser column-none">
        <form class="column__search-form" action="" method="get">
            <input class="column__search-input" type="text" name="search" id="">
            <input type="submit" value="" class="column__submit">
            <i class="fa-light fa-xmark hidden column__search-cross"></i>
            <i class="fa-light fa-magnifying-glass column__search-search"></i>
        </form>
    </div>
    <div class="column">
        <div class="column__item small-search"> <i class="fa-light fa-magnifying-glass "></i>
        </div>
        <div class="column__item bell"><i class="fa-light fa-bell"></i></div>
        <div class="column__bell none">
            <div class="title">Alerts</div>
            {% for allert in allerts %}
            <a href="/" class="allert">
                <img src="{%static 'img/no-image.png'%}" alt="" class="allert__img">
                <div class="allert__content">
                    <div class="allert__text">Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты.</div>
                    <div class="allert__time">{{allert}} minutes ago</div>
                </div>
            </a>
            {% endfor %}

        </div>
        <div class="column__item user"><i class="fa-light fa-user"></i></div>
        <div class="column__user none">
            <a href="/" class="title">
                <img src="{%static 'img/no-image.png'%}" alt="">
                <div class="username">Username</div>
            </a>
            <div class="line"></div>
            <a href="/" class="row">
                <i class="fa-regular fa-link"></i>
                <div class="text">Links</div>
            </a>
            <a href="/" class="row">
                <i class="fa-solid fa-arrow-right-from-bracket"></i>
                <div class="text">Logout</div>
            </a>
            <div class="line"></div>
            <a href="/" class="row">
                <i class="fa-solid fa-gear"></i>
                <div class="text">Settings</div>
            </a>
            <a href="/" class="row">
                <i class="fa-solid fa-moon"></i>
                <div class="text">Theme</div>
            </a>
            <a href="/" class="row">
                <i class="fa-solid fa-earth-europa"></i>
                <div class="text">Language</div>
            </a>

        </div>
    </div>
    <div class="menu hide none">
        <div class="menu__title">Navigation</div>
        <a href="/" class="menu__link">Home</a>
        <a href="/" class="menu__link">Allerts</a>
        <a href="/" class="menu__link">Profile</a>
        <div class="menu__title">Playlists</div>
        <div class="playlists">
            {% for allert in allerts %}
            <a href="/" class="menu__link">...</a> {% endfor %}

        </div>
        <i class="fa-light fa-xmark menu__cross"></i>
    </div>

    <div class="window none"></div>
</header>
<script src="{%static 'js/header.js'%}"></script>