<!DOCTYPE html>
<html lang="{%block lang%}{%endblock%}">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%block title%}{%endblock%}</title>
    {%block addictionsBefore%}{%endblock%}
</head>

<body>
    {%block header%}{%endblock%}
    <div class="wrapper">
        {%block main%}{%endblock%} {%block footer%}{%endblock%}
    </div>
    {%block addictionsAfter%}{%endblock%}
</body>

</html>