{% extends 'layout.html' %} {% load static %} {% block lang %}ru{% endblock %} {% block title %}Home{% endblock %} {% block addictionsBefore %}
<link rel="stylesheet" href="{% static 'icons.css' %}">
<link rel="stylesheet" href="{% static 'main.css' %}"> {% endblock %} {% block header %}{%include 'header.html'%}{% endblock %} {% block main %}
<div class="main ">
    {% include 'cards.html'%}
</div>

{% endblock %} {% block footer %}{%include 'footer.html'%}{% endblock %} {% block addictionsAfter %}
<script src="{%static 'js/header.js'%}"></script>{% endblock %}